.btn {
    padding: 10px;
    border: 1px solid grey;
    min-width: 140px;
    color: #fff;
    background: grey;
  }
  
  .btn-primary {
    background: blue;
  }
  
  .btn-secondary {
    background: orange;
  }
  
  .btn-sucess {
    background: green;
  }