.card {
  border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in;
    display: flex;
    flex-direction: column;

    &:hover{
        box-shadow: 0 0 10px #cdcdcd;
    }
  &__figure {
      img {
          width: 100%;
          border-radius: 10px;
      }
  }

  &__text {
    padding: 20px;
  }
  h2 {
    font-size: 2.2rem;
  }
}
