/* global */

* {
    box-sizing: border-box;
}

a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight:500;
    font-size: 14px;
    line-height: 16px;
    color: black;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 28px;
    color: #0098EF;
    line-height: 42px;

}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
}

body{
    width: 85%;
    margin: auto;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 50px;
}

.header nav ul{
    display: flex;
    align-items:flex-end;
    gap: 15px;
}
.header ul li a{
    padding: 5px;
}

.header li:hover{
    border-bottom: solid 3px #6D0AD3;
    border-radius: 3px;
}
.header li a:hover{
    color: #6D0AD3;
    font-weight: bold;
}

.header .logo-contenedor{
    position: relative;
    top:-30px;
}

.header .tri-4{
    position: absolute;
    z-index: 1;

}
.header .tri-3{
    position: absolute;
    z-index: 2;
    left: 5px;
}
.header .tri-2{
    position: absolute;
    z-index: 3;
    left: 10px;
}
.header .tri-1{
    position: absolute;
    z-index: 4;
    left: 15px;
}
.header .logo{
    position: absolute;
    z-index: 5;
    left: 30px;
    top: 15px;
}

/* SECTION 1 PRIMER BLOQUE */
.div1 h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height:32px;
}
.div1 h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height:60px;
}
.div1 h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height:60px;
    color: #00CF95;
}

.div1 p{
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    font-size: 13px;
    line-height: 24px;
    padding-left: 15px;
    border-left: 3px solid #80E7CA;
}
.div1 .div3{
    display: flex;
    align-items:center;
    justify-content:flex-start;
    margin-top: 30px;
}
.div1 .div3 button{
    padding: 10px 20px 10px 20px;
    background-color:#6D0AD3;
    color: white;
    border:0 none;
    font-size: 12px;
}

.div1 .div4{
    display: flex;
    align-items:center;
    gap: 10px;
    margin-left: 30px;
}

.div-flecha{
    margin-top:40px;
    margin-bottom:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* SECTION 1 */
.section1{
    padding-top: 20px;
    margin-top: 65px;
    display: flex;
}

.section1 .div1{
    width: 50%; 
}
.section1 .div5{
    margin-left: 40px;
    width: 50%;
    display: flex;
}

.section1 .div5 figure{
    width: 60%;
}
.section1 .div5 .icono-like{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
}
/* SECTION 2 */

.section2 .div6{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding-top: 20px;
    padding-bottom: 40px;
}