@import "../../assets/style/variables";

.footer {
  background-color: map-get($colors, "complementary");
  color: white;
  padding: 20px;
  font-size:1.4rem;
  font-weight:bold;
  display: flex;
  justify-content:space-between;

}
