.button{
    width:213px;
    height:68px;
    line-height: 68px;
    color:white;
    background-color: grey;
    border: none;
    cursor: pointer;
}

.button-primary{
    background-color:red;
}

.button-secondary{
    background-color:blue;
}