@import "../../assets/style/variables";

.nav {
  ul {
    display: flex;
  }
  li {
    margin-left: 10px;
    padding: 20px;

    &:first-child {
      margin-left: 0px;
    }
  }
  a {
    font-weight: bold;
    font-size: 1.6rem;
    &:hover,
    &.selected {
      background-color: map-get($colors, "primary");
      color: map-get($colors, "secondary");
    }
  }
}
